@font-face {
  font-family: 'Open Sans Regular';
  src: url('../../fonts/OpenSans-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Medium';
  src: url('../../fonts/OpenSans-Medium.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url('../../fonts/OpenSans-SemiBold.ttf');
  font-style: normal;
}
